[submodule "susfs-me"]
	path = KernelSU-Next
	url = https://git.x01.dpdns.org/KernelSU-Next.git
	branch = legacy-susfs
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://git.x01.dpdns.org/KernelSU-Next.git
	branch = legacy-susfs
